<!-- templates/site/layout/header.html -->
<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <!-- Navbar start -->
    <div class="container-fluid fixed-top">
        <div class="container topbar bg-primary d-none d-lg-block">
            <div class="d-flex justify-content-between">
                <div class="top-info ps-2">
                    <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#"
                            class="text-white">123 Nguyễn Văn Linh, Quận 7, TP.HCM</a></small>
                    <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#"
                            class="text-white">kinhdoanh@ocean.vn</a></small>
                </div>
                <div class="top-link pe-2">
                    <a href="#" class="text-white">
                        <small class="text-white mx-2">Chính sách bảo hành</small>/
                    </a>
                    <a href="#" class="text-white">
                        <small class="text-white mx-2">Điều khoản sử dụng</small>/
                    </a>
                    <a href="#" class="text-white">
                        <small class="text-white ms-2">Hỗ trợ kỹ thuật</small>
                    </a>
                </div>
            </div>
        </div>
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <!-- Brand -->
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6 mb-0">Ocean Machinery</h1>
                </a>

                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>

                <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                    <!-- Menu -->
                    <div class="navbar-nav mx-auto">
                        <a th:href="@{/}" class="nav-item nav-link"
                            th:classappend="${currentPath == '/' ? ' active' : ''}">
                            Trang chủ
                        </a>
                        <a th:href="@{/gioi-thieu}" class="nav-item nav-link"
                            th:classappend="${currentPath == '/gioi-thieu' ? ' active' : ''}">
                            Giới thiệu
                        </a>
                        <a th:href="@{/san-pham}" class="nav-item nav-link"
                            th:classappend="${#strings.startsWith(currentPath, '/san-pham') ? ' active' : ''}">
                            Sản phẩm
                        </a>
                        <a th:href="@{/dich-vu}" class="nav-item nav-link"
                            th:classappend="${#strings.startsWith(currentPath, '/dich-vu') ? ' active' : ''}">
                            Dịch vụ
                        </a>

                        <!-- <a th:href="@{/blog}" class="nav-item nav-link"
                            th:classappend="${#strings.startsWith(currentPath, '/blog') ? ' active' : ''}">
                            Blog
                        </a> -->

                        <a th:href="@{/lien-he}" class="nav-item nav-link"
                            th:classappend="${currentPath == '/lien-he' ? ' active' : ''}">
                            Liên hệ
                        </a>
                    </div>

                    <!-- Actions -->
                    <div class="d-flex m-3 me-0">
                        <button
                            class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-3"
                            data-bs-toggle="modal" data-bs-target="#searchModal" aria-label="Tìm kiếm">
                            <i class="fas fa-search text-primary"></i>
                        </button>
                        <a href="tel:0901234567"
                            class="btn btn-primary rounded-pill px-3 d-none d-xl-inline-flex align-items-center gap-2">
                            <i class="fas fa-phone-alt"></i>
                            <span>035.479.1618</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Modal Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Tìm kiếm thiết bị</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="input-group w-75 mx-auto d-flex">
                        <input type="search" class="form-control p-3"
                            placeholder="Nhập tên máy móc, thiết bị xây dựng..."
                            aria-describedby="search-icon-1">
                        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Search End -->
</header>